<%= render 'navigation' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h1>New Person</h1>
 
 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for People</p>
     <ul>
       <li>Enter a name.</li>
       <li>Enter date of birth.</li>
       <li>If this person is no longer alive, enter the date this person died.</li>
     </ul>
   </div>
   <%= render 'form' %>
 </div>