<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1><%= Date::MONTHNAMES[Date.today.month] %></h1>
  <p>
  <% @historical_events.each do |event| %>
    <%= event.starting %> <%= event.description %><br>
  <% end %>
  </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>